<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title> Attendance Web Application</title>
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.png" />
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/style.css" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="path/to/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="~/Content/IMG/logo1.png" alt="Logo">
                </a>
                <a href="index.cshtml" class="logo logo-small">
                    <img src="~/Content/IMG/logo3.png" alt="Logo" width="30" height="30" />
                </a>
                <a href="javascript:void(0);" id="toggle_btn">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
            </div>
            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link pr-0" data-toggle="dropdown">
                        <i data-feather="bell"></i> <span class="badge badge-pill"></span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All</a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="" src="~/Content/assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Brian Johnson</span> paid the invoice <span class="noti-title">#DF65485</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="" src="~/Content/assets/img/profiles/avatar-03.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Marie Canales</span> has accepted your estimate <span class="noti-title">#GTR458789</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle bg-primary-light"><i class="far fa-user"></i></span>
                                            </div>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">New user registered</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="" src="~/Content/assets/img/profiles/avatar-04.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Barbara Moore</span> declined the invoice <span class="noti-title">#RDW026896</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle bg-info-light"><i class="far fa-comment"></i></span>
                                            </div>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">You have received a new message</span></p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/Content/assets/img/profile.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>@Session["UserName"].ToString()</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="profile.html"><i data-feather="user" class="mr-1"></i> Profile</a>
                        <a class="dropdown-item" href="settings.html"><i data-feather="settings" class="mr-1"></i> Settings</a>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Home")"><i data-feather="log-out" class="mr-1"></i> Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu show">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right ">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="@Url.Action("Logout", "Home")">Logout</a>
                </div>
            </div>

        </div>
        @*Side Bar Start*@

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div class="sidebar-contents">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <div class="mobile-show">
                            <div class="offcanvas-menu">
                                <div class="user-info align-center bg-theme text-center">
                                    <span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
                                    <a href="javascript:void(0)" class="d-block menu-style text-white">
                                        <div class="user-avatar d-inline-block mr-3">
                                            <img src="~/Content/assets/img/profiles/avatar-18.jpg" alt="user avatar" class="rounded-circle" width="50">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="sidebar-input">
                                <div class="top-nav-search">
                                    <form>
                                        <input type="text" class="form-control" placeholder="Search here">
                                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"><img src="~/Content/assets/img/home.svg" alt="sidebar_img"> <span>Dashboard</span></a>
                            </li>
                            <li>
                                <a><img src="~/Content/assets/img/employee.svg" alt="sidebar_img"><span>Master Form</span></a>
                                <ul class="dropdown">
                                    <li> <a class="card-link" href="@Url.Action("Office", "Home")">Office Master</a></li>
                                    <li> <a class="card-link" href="@Url.Action("Employee","Home")">Employee Master</a></li>
                                    <li> <a class="card-link" href="@Url.Action("Attendence", "Home")">Attendence Master</a></li>
                                    <li> <a class="card-link" href="@Url.Action("WorkingDay","Home")">Working Day Master</a></li>
                                    <li> <a class="card-link" href="@Url.Action("Holiday", "Home")">Holiday Master</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><img src="~/Content/assets/img/report.svg" alt="sidebar_img"><span>Master Report</span></a>
                                <ul class="dropdown-center">
                                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("OfficeReport", "Home")">Office Report</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("EmployeeReport","Home")">Employee Report</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("AttendenceReport", "Home")">Attendence Report</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("WorkingDayReport","Home")">Working Day Report</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("HolidayReport", "Home")">Holiday Report</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="company.html"><img src="~/Content/assets/img/company.svg" alt="sidebar_img"> <span> Company</span></a>
                            </li>
                            <li>
                                <a href="calendar.html"><img src="~/Content/assets/img/calendar.svg" alt="sidebar_img"> <span>Calendar</span></a>
                            </li>
                            <li>
                                <a href="leave.html"><img src="~/Content/assets/img/leave.svg" alt="sidebar_img"> <span>Leave</span></a>
                            </li>
                            <li>
                                <a href="review.html"><img src="~/Content/assets/img/review.svg" alt="sidebar_img"><span>Review</span></a>
                            </li>
                            <li>
                                <a href="manage.html"><img src="~/Content/assets/img/manage.svg" alt="sidebar_img"> <span>Manage</span></a>
                            </li>
                            <li>
                                <a href="settings.html"><img src="~/Content/assets/img/settings.svg" alt="sidebar_img"><span>Settings</span></a>
                            </li>
                            <li>
                                <a href="profile.html"><img src="~/Content/assets/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
                            </li>
                        </ul>
                        <ul class="logout">
                            <li>
                                <a href="@Url.Action("Logout", "Home")"><img src="~/Content/assets/img/logout.svg" alt="sidebar_img"><span>Log out</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <!-- Your rendered page content goes here -->
            @RenderBody();
        </div>
    </div>
    <script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/feather.min.js"></script>
    <script src="~/Content/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/Content/assets/plugins/apexchart/chart-data.js"></script>
    <script src="~/Content/assets/js/script.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>
