@model IEnumerable<OnlineAttendece.Models.Attendence>

@{
    ViewBag.Title = "AttendenceReport";
}
<style>
    .trreport, th {
        text-align: center;
        background: #434a54;
        color: antiquewhite;
    }

    .trreport1, td {
        text-align: center;
    }
</style>
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-xl-12 col-sm-12 col-12 ">
                    <div class="breadcrumb-path mb-4">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index","Home")">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Office Master</li>
                        </ul>
                        <h3>Create Employee</h3>
                    </div>
                    <h2 class="text-center m-4 ">Attendence Report</h2>
                </div>
                <div class="col-xl-12 col-sm-12 col-12 ">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table  custom-table  no-footer">
                                <tr class="trreport">
                                    <th>@Html.DisplayNameFor(model => model.Attendence_Id)</th>
                                    <th>@Html.DisplayNameFor(model => model.Attendence_Date)</th>
                                    <th>@Html.DisplayNameFor(model => model.Cheack_In_Time)
                                    <th>@Html.DisplayNameFor(model => model.Cheack_Out_Time)</th>
                                    <th>@Html.DisplayNameFor(model => model.EMP_Id)</th>
                                </tr>
                                @{ int i = 1;}

                                @foreach (var item in Model)
                                {
                                    <tr class="trreport1">
                                        <td>@i</td>
                                        <td>@Html.DisplayFor(modelItem => item.Attendence_Date)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cheack_In_Time)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cheack_Out_Time)</td>
                                        <td>@Html.DisplayFor(modelItem => item.EMP_Name)</td>
                                    </tr>
                                    i++;
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>