
@{
    ViewBag.Title = "Employee";
}
@*<style>
        .tremp, th {
            border: 2px solid blue;
        }

        .trbody, td {
            border: 1px solid blue;
        }
    </style>*@
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <form action="/Home/EmployeeAdd" method="post">
                <div class="row">
                    <div class="col-xl-12 col-sm-12 col-12 ">
                        <div class="breadcrumb-path mb-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index","Home")">Home</a>
                                </li>
                                <li class="breadcrumb-item active">Employee Master</li>
                            </ul>
                            <h3>Create Emplyee</h3>
                        </div>
                    </div>
                    <div class="col-xl-12 col-sm-12 col-12 ">
                        <div class="card ">
                            <div class="card-header">
                                <h2 class="card-titles">
                                    Employee Details<span>
                                        Please Enter Correct Detiles.
                                    </span>
                                </h2>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-6 col-sm-12 col-12" style="display:none;">
                                        <div class="form-group">
                                            <label asp-for="EMP_Id">EMP Id:</label>
                                            <input asp-for="EMP_Id" class="form-control" id="EMP_Id" name="EMP_Id" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label asp-for="EMP_Name">Employee Name:</label>
                                        <input asp-for="EMP_Name" class="form-control" id="EMP_Name" name="EMP_Name" placeholder="Enter Employee Name" />
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label asp-for="Designation">Designation :</label>
                                        <input asp-for="Designation" class="form-control" name="Designation" placeholder="Enter Employee Designation " />
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class="col-sm-6">
                                        <label asp-for="Department">Department Info:</label>
                                        <input asp-for="Department" class="form-control" name="Department" placeholder="Enter Department Information" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Select Office Id :</label>
                                        <select name="Office_Id" Id="Office_Id" class=" form-control dropdown-item-text" style="border:.5px solid blue">
                                            <option>Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-sm-12 col-12 mt-4 ">
                                    <div class="row">
                                        <div class="col-xl-12 col-sm-12 col-12 ">
                                            <div class="form-btn text-center">
                                                <button type="submit" class="btn btn-apply w-auto">Add Employee</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-xl-12 col-sm-12 col-12 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center m-4">Employee List</h2>
                        <div class="table-responsive">
                            <table class="table  custom-table  no-footer">
                                <tr class="text-center tremp">
                                    <th>EMP Id</th>
                                    <th>EMP_Name</th>
                                    <th>Designation</th>
                                    <th>Department</th>
                                    <th>Office Id</th>
                                    <th>Action</th>
                                </tr>

                                @foreach (var EMPList in Model)
                                {
                                    <tr class="text-center trbody">
                                        <td>@EMPList.EMP_Id</td>
                                        <td>@EMPList.EMP_Name</td>
                                        <td>@EMPList.Designation</td>
                                        <td>@EMPList.Department</td>
                                        <td>@EMPList.Office_Name</td>
                                        <td>
                                            <label>
                                                <a class="action_label5" href="@Url.Action("Edit", "Home", new { id = EMPList.EMP_Id })">Edit<i data-feather="edit"></i></a> 
                                                </label>
                                            <label>
                                                <a class="action_label4" href="@Url.Action("Delete", "Home", new { id = EMPList.EMP_Id })">Delete<i data-feather="trash-2"></i></a>
                                                </label>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.get("/Home/OfficeList", function (data) {
            //alert(data);
            var dropdownList = $("#Office_Id");
            dropdownList.empty();
            $.each(data, function (index, item) {
                dropdownList.append($('<option></option>').val(item.Office_Id).text(item.Office_Name));
            });
        });
    });
</script>
