@model IEnumerable<OnlineAttendece.Models.Holiday>

@{
    ViewBag.Title = "HolidayReport";
}

<style>
    .trreport, th {
        border: 2px solid #434a54;
        text-align: center;
        background: #434a54;
        color: antiquewhite;
    }

    .trreport1, td {
        text-align: center;
    }
</style>


<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-xl-12 col-sm-12 col-12 ">
                    <div class="breadcrumb-path mb-4">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index","Home")">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Holiday Report</li>
                        </ul>
                        <h3>Create Holiday</h3>
                    </div>
                    <h2 class="text-center m-4">Holiday Report</h2>
                </div>
                <div class="col-xl-12 col-sm-12 col-12 ">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table  custom-table  no-footer">
                                <tr class="trreport">
                                    <th>Sr. No.</th>
                                    <th>Holiday Name</th>
                                    <th>Holiday Date</th>
                                </tr>
                                @{ int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr class="trreport1">
                                        <td>@i</td>
                                        <td>@Html.DisplayFor(modelItem => item.Holiday_Name)</td>
                                        <td class="Holiday_Date">@Html.Raw(item.Holiday_Date.ToString("yyyy-MM-dd"))</td>
                                    </tr>
                                    i++;
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4 text-center">
                <button class="btn btn-apply w-auto" onclick="downloadExcel()">Download Excel</button>
            </div>
            <div class="col-md-6 mt-4 text-center">
                <button class="btn btn-apply w-auto" onclick="downloadPDF()">Download PDF</button>
            </div>
        </div>
    </div>
    </div>
</div>
<a id="downloadLink" href="@Url.Action("DownloadExcelHolidays", "Home")" style="display:none;">Download Excel</a>
<a id="downloadPDFLink" href="@Url.Action("DownloadPDFHoliday", "Home")" style="display:none;">Download Excel</a>
<script>
    // Function to trigger download when button is clicked
    function downloadExcel() {
        // Simulate clicking on the download link
        document.getElementById("downloadLink").click();
    };
    function downloadPDF() {
        // Simulate clicking on the download link for PDF
        document.getElementById("downloadPDFLink").click();
    }
</script>