
@{
    ViewBag.Title = "Office";
}
<style>
    .trhead, th {
        border: 2px solid blue;
    }

    .trbody, td {
        border: 1px solid blue;
    }
</style>

<div class="row d-flex justify-content-center align-items-center ">
    <h2 class="text-center">Office Master</h2>
    <div class="col-md-9 m-3">
        <form action="/Home/OfficeAdd" method="post">
            <div class="row">
                <div class="form-group row">
                    <div class="col-sm-6 form-group" style="display: none;">
                        <label asp-for="Office_Id">Office Id:</label>
                        <input asp-for="Office_Id" class="form-control" id="Office_Id" name="Office_Id"  />
                    </div>
                    <div class="col-sm-6 form-group">
                        <label asp-for="Office_Name">Office Name:</label>
                        <input asp-for="Office_Name" class="form-control" id="Office_Name" name="Office_Name" placeholder="Enter Employee Office Name" />
                    </div>
                    <div class="col-sm-6 form-group">
                        <label asp-for="Location">Location :</label>
                        <input asp-for="Location" class="form-control" name="Location" placeholder="Enter Office Location" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Cantact_Info">Cantact Info:</label>
                        <input asp-for="Cantact_Info" class="form-control" name="Cantact_Info"  placeholder="Enter Office Contact Info"/>
                    </div>
                </div>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary">Add Office</button>
                </div>
            </div>
        </form>
    </div>
</div>

<h2 class="text-center m-4">Attendance List</h2>
<table class="table">
    <tr class="text-center trhead">
        <th>Office_Id</th>
        <th>Office_Name</th>
        <th>Location</th>
        <th>Cantact_Info</th>
        <th>Action</th>
    </tr>
    @foreach (var OfficeList in Model)
    {
        <tr class="text-center trbody">
            <td>@OfficeList.Office_Id</td>
            <td>@OfficeList.Office_Name</td>
            <td>@OfficeList.Location</td>
            <td>@OfficeList.Cantact_Info</td>
            <td>
                <a href="@Url.Action("Edit", "Home", new { id = OfficeList.Office_Id })"><i class="bi bi-pencil-square"></i></a> |
                <a href="@Url.Action("Delete", "Home", new { id = OfficeList.Office_Id })"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
    }
</table>