@model IEnumerable<OnlineAttendece.Models.Office>

@{
    ViewBag.Title = "OfficeReport";
}
<style>
    .trreport, th {
        text-align: center;
        background: #434a54;
        color: antiquewhite;
    }

    .trreport1, td {
        text-align: center;
    }
</style>

<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-xl-12 col-sm-12 col-12 ">
                    <div class="breadcrumb-path mb-4">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index","Home")">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Office Master</li>
                        </ul>
                        <h3>Create office</h3>
                    </div>
                    <h2 class="text-center mb-3">Office Report</h2>
                </div>
                <div class="col-xl-12 col-sm-12 col-12 ">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table  custom-table  no-footer">
                                <tr class="trreport">
                                    <th>Sr. No.</th>
                                    <th>Office Name</th>
                                    <th>Location</th>
                                    <th>Cantact Info</th>
                                </tr>
                                @{int i = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr class="trreport1">
                                        <td>@i</td>
                                        <td>@Html.DisplayFor(modelItem => item.Office_Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cantact_Info)</td>
                                    </tr>
                                    i++;
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 mt-4 text-center">
                    <button class="btn btn-apply w-auto" onclick="downloadExcel()">Download Excel</button>
                </div>
                <div class="col-md-6 mt-4 text-center">
                    <button class="btn btn-apply w-auto" onclick="downloadPDF()">Download PDF</button>
                </div>
            </div>

        </div>
    </div>
</div>
<a id="downloadLink" href="@Url.Action("DownloadExcelOffice", "Home")" style="display:none;">Download Excel</a>
<a id="downloadPDFLink" href="@Url.Action("DownloadPDFOffice", "Home")" style="display:none;">Download Excel</a>
<script>
    // Function to trigger download when button is clicked
    function downloadExcel() {
        // Simulate clicking on the download link
        document.getElementById("downloadLink").click();
    };
    function downloadPDF() {
        // Simulate clicking on the download link for PDF
        document.getElementById("downloadPDFLink").click();
    }
</script>